li.checkbox-not-done, li.checkbox-done{
  list-style: none;
  background-repeat: no-repeat;
  padding-left: 1.5em;
  cursor: pointer;
}

.checkbox-not-done{
  background-image: url('../img/checkbox.png');
  background-position:2px 5px;
 
  
}

.checkbox-done{
  opacity: .6;
  background-image: url('../img/checkbox-done.png');
  background-position:2px 5px;
  
}
